<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CocineroServlet</servlet-name>
        <servlet-class>controlador.CocineroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controlador.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatoServlet</servlet-name>
        <servlet-class>controlador.PlatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlmacenServlet</servlet-name>
        <servlet-class>controlador.AlmacenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstanteriaServlet</servlet-name>
        <servlet-class>controlador.EstanteriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredienteServlet</servlet-name>
        <servlet-class>controlador.IngredienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PincheServlet</servlet-name>
        <servlet-class>controlador.PincheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsarServlet</servlet-name>
        <servlet-class>controlador.UsarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CocineroServlet</servlet-name>
        <url-pattern>/CocineroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatoServlet</servlet-name>
        <url-pattern>/PlatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlmacenServlet</servlet-name>
        <url-pattern>/AlmacenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstanteriaServlet</servlet-name>
        <url-pattern>/EstanteriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredienteServlet</servlet-name>
        <url-pattern>/IngredienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PincheServlet</servlet-name>
        <url-pattern>/PincheServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsarServlet</servlet-name>
        <url-pattern>/UsarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
